.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
/* #aboutme {
  text-align: center;
} */
/* h1 {
  text-decoration: underline;
} */
#demo-button {
  background-color: blue;
  color: white;
}
.blue {
  color: blue;
}
.thick {
  font-size: 20px;
}

.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
