body {
  text-align: center;
  width:80%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
li{
  display: inline;  

}
.nav{
  background-color:black;
  
}
li a{
  display:block-inline;
  color:white;
  text-decoration: none;
  padding:30px;
}
#home{
  padding:30px;
  background-color:lightgray;
}
#aboutme{
  padding:30px;
  background-color:lightskyblue;
}
#hobbies{
  padding:30px;
  background-color:lightgreen;
}
#song{
  padding:30px;
  background-color:lightpink;
}
#contact{
  padding:30px;
  background-color: lavender
}